@media (max-width: 1020px) {
	.footer__inner {
		flex-wrap: wrap;
	}
	.footer__column-about {
		min-width: 100%;
		margin-bottom: 30px;
	}
	.header__text {
		display: none;
	}
	.header__circle {
		margin-left: auto;
	}
}

@media (max-width: 820px) {
	.menu__list li + li {
		margin-left: 24px;
	}
}

@media (max-width: 768px) {
	.footer__inner {
		justify-content: start;
	}

	.footer__social-link {
		min-width: 100%;
		margin-top: 30px;
	}

	.footer__column-link {
		& + & {
			margin-left: 30px;
		}
	}
}

@media (max-width: 720px) {
	.header__menu {
		display: none;
	}
	.header__burger-list {
		display: block;
	}
	.header__burger-body {
		display: block;
	}
	.header__circle {
		display: none;
		width: 150px;
		margin: 0;
		top: -100%;
		transition: all 0.5s;
		position: relative;
	}
	.header__user {
		position: relative;
		margin-top: -100%;
		transition: all 0.5s;
	}
	.header__buttons {
		display: none;
	}
	.header__inner {
		display: block;
		height: 70px;
	}
	.header__logo {
		position: relative;
		z-index: 5;
	}
	.header__inner.active {
		display: block;
		.header__circle {
			display: flex;
			position: relative;
			z-index: 6;
			top: 65px;
			left: 0px;
			margin-top: 0;
		}
		.header__user {
			margin-top: 0;
			position: relative;
			z-index: 6;
			top: -15px;
			width: 180px;
		}
		.header__buttons {
			display: flex;
			position: relative;
			z-index: 3;
			padding-right: 30px;
			top: -50px;
			left: 170px;
		}
	}
	.header__menu.active {
		display: block;
		position: relative;
		z-index: 5;
		background-color: #fff;
		.menu__list {
			margin-top: 110px;
		}
	}
	.menu__list {
		display: block;
		margin-top: -110%;
		transition: all 0.5s;
		a {
			color: #000000;
			display: block;
		}
		li + li {
			margin-left: 0;
		}
		li {
			padding: 10px;
			border-bottom: 1px solid #000;
			&:first-child {
				border-top: 1px solid #000;
			}
		}
	}
	.header .circle__drop-down {
		top: 35px;
		left: 0;
	}
	.header__circle-box {
		height: 40px;
	}
	// .bell {
	// 	display: none;
	// }
	// .envelope {
	// 	display: none;
	// }
}
