@import "vars";
@import "global";
@import "fonts";

.header {
	&__inner {
		height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
	}

	&__text {
		margin-right: 60px;
		color: #546e7a;
		a {
			color: #546e7a;
		}
		margin-left: auto;
		font-size: 15px;
		line-height: 24px;
		span {
			color: #e74c3c;
		}
	}

	&__buttons {
	}

	&__btn {
		padding: 4px;
		width: 72px;
		font-size: 12px;
		line-height: 24px;
		color: #fff;
		border-radius: 3px;
		text-align: center;
	}

	&__btn-login {
		background-color: #8bc34a;
	}

	&__btn-register {
		background-color: #e74c3c;
		margin-left: 7px;
	}

	&__menu {
		height: 60px;
		background-color: #263238;
	}
}

.menu {
	&__list {
		display: flex;
		padding-top: 15px;
		a {
			color: #e3e5e6;
			font-size: 14px;
			font-weight: 500;
			line-height: 30px;
		}
		li + li {
			margin-left: 35px;
		}
	}
}
.bascet {
}

// ===========================================================================

.search {
	min-height: 532px;
	text-align: center;
	color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&__inner {
		padding: 155px 0 100px;
	}

	&__inner-title {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__inner-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 55px;
	}

	&__inner-form {
		position: relative;
		max-width: 670px;
		margin: 0px auto;
		input {
			width: 100%;
			height: 56px;
			border-radius: 4px;
			box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
			border: none;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
				font-size: 14px;
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0.7px;
			}
		}
		button {
			position: absolute;
			top: 18px;
			right: 20px;
			background-color: transparent;
			border: none;
		}
	}
}

// section products ============================================================================

.products {
	padding: 115px 0;
	background-color: #f4f6f5;

	&__inner {
	}

	&__inner-btn {
		color: #263238;
		font-size: 14px;
		font-weight: 500;
		line-height: 60px;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 60px;
		button {
			background-color: #fff;
			border: none;
			padding: 13px 21px;
			cursor: pointer;
			& + button {
				margin-left: 6px;
			}
		}
	}

	.mixitup-control-active {
		box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
		background-color: #e74c3c;
		outline: none;
	}

	&__inner-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 80px;
	}

	&__item {
		max-width: 442px;
		width: 100%;
		box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
		background-color: #ffffff;
		margin-bottom: 30px;
	}

	&__item-img {
		min-height: 250px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__item-content {
		min-height: 90px;
		display: flex;
		justify-content: space-between;
		padding: 30px 30px 15px;
		border-bottom: 1px solid #e7ecf2;
	}

	&__item-name {
		a {
			display: block;
			font-weight: 500;
		}
	}

	&__item-title {
		font-size: 18px;
		color: #263238;
		margin-bottom: 10px;
	}

	&__item-category {
		color: #8bc34a;
		font-size: 14px;
	}

	&__item-price {
		color: #263238;
		font-size: 20px;
		font-weight: 700;
	}

	&__item-info {
		min-height: 68px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 32px;
	}

	&__item-autor {
		max-width: 270px;
		padding: 15px 5px 15px 0;
		display: flex;
		align-items: center;
		span {
			color: #546e7a;
			font-size: 14px;
			font-weight: 500;
			margin-left: 12px;
		}
	}

	&__item-avatar {
		img {
			display: block;
			width: 30px;
			height: 30px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__item-star {
		color: #b0bec5;
		font-size: 12px;
		span {
			color: #263238;
		}
		.rate-star {
			display: inline-block;
			margin-right: 13px;
		}
	}

	&__bottom-btn {
		color: #263238;
		font-size: 16px;
		text-align: center;

		button {
			padding: 15px 30px;
			box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
			background-color: #ffffff;
			border: none;
			cursor: pointer;
			margin: 0 5px;
		}
	}
}

.title {
	color: #263238;
	font-size: 36px;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
	margin-bottom: 60px;
}

// section slider ===========================================================================================

.products-slider {
	padding: 110px 0px 120px;
	.slick-dots {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 3px;
			margin-left: 3px;
			&.slick-active {
				button {
					background-color: #8bc34a;
				}
			}
			button {
				width: 16px;
				height: 16px;
				border: none;
				background-color: #e8e8e8;
				border-radius: 50%;
				font-size: 0;
				cursor: pointer;
				outline: none;
			}
		}
	}
}

// section advantages ============================================================================

.advantages {
	background-color: #263238;
	padding: 120px 0;
	&__title {
		color: #ffffff;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__inner-itaem {
		max-width: 370px;
		text-align: center;
		padding: 0 5px;
		&:hover {
			g {
				fill: #fff;
			}
			svg {
				fill: #fff;
			}
			.advantages__inner-img {
				background-color: #8bc34a;
			}
			.advantages__inner-title {
				color: #8bc34a;
			}
		}
	}

	&__inner-img {
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto;
		margin-bottom: 33px;
	}

	&__inner-title {
		color: #ffffff;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 26px;
	}

	&__inner-text {
		color: #b0bec5;
		font-size: 15px;
		line-height: 24px;
	}
}

.lock {
	svg {
		width: 50px;
		height: 67px;
	}
}

.present {
	svg {
		width: 71px;
		height: 73px;
	}
}

.heart {
	svg {
		width: 86px;
		height: 86px;
	}
}

// section author ===========================================================

.author {
	min-height: 761px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	&__inner {
	}

	&__box {
		max-width: 653px;
		min-height: 216px;
		background-color: #8bc34a;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}

	&__box-title {
		color: #ffffff;
		font-size: 30px;
		line-height: 36px;
		max-width: 260px;
		margin-right: 48px;
		span {
			font-weight: 700;
		}
	}

	&__box-btn {
		color: #263238;
		font-size: 18px;
		font-weight: 400;
		line-height: 36px;
		background-color: #ffffff;
		padding: 14px 43px;
	}
}

// secion tutorials ================================================================================

.tutorials {
	padding: 65px 0px 120px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__inner-item {
		max-width: 370px;
		width: 100%;
		text-align: center;
	}

	&__inner-img {
		min-height: 270px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__inner-title {
		color: #263238;
		font-size: 24px;
		font-weight: 700;
		background-color: #f8f8f8;
		padding: 30px 10px;
	}
}

// footer ==============================================================================

.footer {
	background-color: #263238;
	&__content {
		padding: 100px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		max-width: 270px;
		color: #ffffff;
	}

	&__column-title {
		font-size: 22px;
		font-weight: 700;
		line-height: 24px;
		font-family: "Raleway", sans-serif;
		padding-bottom: 23px;
		margin-bottom: 32px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: #8bc34a;
		}
	}

	&__column-text {
		color: #b7c3c8;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__column-info {
		color: #ffffff;
		font-size: 14px;
		line-height: 24px;
		font-weight: 500;
		padding-left: 30px;
		position: relative;
		&::before {
			content: "\f041";
			position: absolute;
			left: 0;
			font-family: "icomoon";
			color: #8bc34a;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__column-tel {
		margin-top: 13px;
		&::before {
			content: "\f095";
		}
	}

	&__column-link {
		max-width: 215px;
	}

	&__column-list {
		li {
			padding-left: 23px;
			position: relative;
			&::before {
				content: "\f105";
				position: absolute;
				left: 0;
				font-family: "icomoon";
				color: #8bc34a;
				font-size: 18px;
			}
		}
		a {
			color: #b7c3c8;
			font-size: 15px;
			margin-bottom: 18px;
		}
	}

	&__social-link {
		width: 100%;
	}

	&__form {
		position: relative;
		form {
		}
		input {
			height: 40px;
			width: 100%;
			padding: 14px 59px 15px 16px;
			color: #fff;
			background-color: #2f3c43;
			outline: none;
			&::placeholder {
				color: #697378;
				font-size: 14px;
				line-height: 36px;
			}
		}
		button {
			position: absolute;
			width: 43px;
			height: 38px;
			background-color: #8bc34a;
			bottom: 0;
			right: 0;
			border: none;
			cursor: pointer;
			&::after {
				content: "\f124";
				font-family: "icomoon";
				position: absolute;
				top: 0px;
				left: 13px;
				color: #ffffff;
				font-size: 20px;
				line-height: 36px;
			}
		}
	}

	&__form-text {
		color: #ffffff;
		font-size: 20px;
		line-height: 36px;
		margin-bottom: 10px;
	}

	&__bottom {
		border-top: 1px solid #424d53;
	}

	&__bottom-text {
		text-align: center;
		color: #919699;
		font-size: 15px;
		line-height: 36px;
	}
}

.footer__column-social-img {
	margin-bottom: 22px;
	li {
		display: inline-block;
		max-width: 28px;

		& + li {
			margin-left: 7px;
		}
	}
}
