@import "vars";
@import "global";
@import "fonts";

.header {
	&__inner {
		height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		margin-right: 60px;
		color: #546e7a;
		a {
			color: #546e7a;
		}
		margin-left: auto;
		font-size: 15px;
		line-height: 24px;
		span {
			color: #e74c3c;
		}
	}

	&__btn {
		padding: 4px;
		width: 72px;
		font-size: 12px;
		line-height: 24px;
		color: #fff;
		border-radius: 3px;
		text-align: center;
	}

	&__btn-login {
		background-color: #8bc34a;
	}

	&__btn-register {
		background-color: #e74c3c;
		margin-left: 7px;
	}

	&__menu {
		height: 60px;
		background-color: #263238;
	}

	&__circle {
		display: flex;
	}

	&__circle-box {
		position: relative;
		margin-right: 17px;
		height: 90px;
		top: 26px;
		& > a {
			width: 34px;
			height: 34px;
			background-color: #f5f5f5;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				&::before {
					color: #263238;
				}
			}
			&::before {
				color: #a0a0a0;
			}
		}
		span {
			width: 18px;
			height: 18px;
			background-color: #fcb322;
			position: absolute;
			border-radius: 50%;
			top: -7px;
			right: -5px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ffffff;
			font-size: 11px;
		}
	}
	.bell:hover,
	.envelope:hover,
	.cart:hover {
		.bell__drop,
		.envelope__drop,
		.cart__drop {
			height: auto;
			opacity: 1;
			display: block;
		}
	}
	.bell__drop,
	.envelope__drop,
	.cart__drop {
		height: 0;
		overflow: hidden;
		opacity: 0;
		display: none;
	}

	.circle {
		&__drop-down.cart__drop {
			.circle__drop-photo {
				img {
					width: 73px;
					height: 57px;
					object-position: center;
					object-fit: cover;
				}
				margin-right: 20px;
			}
			.circle__drop-price {
				color: #000000;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 11px;
			}
		}
		&__drop-down {
			transition: opacity 0.5s;
			width: 268px;
			position: absolute;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			z-index: 1;
			top: 64px;
			right: 0;
		}

		&__drop-link {
			display: flex;
			padding: 19px 22px;
			border-bottom: 1px solid #e0e0e0;
			&:hover {
				.icon-bell-o {
					color: #ef6c00;
				}
			}
			.icon-bell-o {
				font-size: 16px;
				background-color: #fff;
				color: #b0bec5;
				top: 5px;
				right: -66;
			}
		}

		&__drop-photo {
			img {
				width: 48px;
				height: 48px;
				object-position: center;
				object-fit: cover;
			}
			margin-right: 20px;
		}

		&__drop-info {
			font-size: 12px;
			position: relative;
		}

		&__drop-name {
			color: #263238;
			font-weight: 700;
			margin-bottom: 8px;
		}

		&__drop-theme {
			color: #84b743;
			margin-bottom: 8px;
		}

		&__drop-date {
			color: #707070;
			font-size: 10px;
		}

		&__money-inner {
			display: flex;
			justify-content: space-between;
			padding: 11px 29px;
			color: #263238;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
		}

		&__money-sum {
			padding-right: 14px;
		}

		&__money-link {
			padding: 0 17px 19px;
			a {
				color: #f4f6f5;
				font-size: 14px;
				font-weight: 700;
				line-height: 40px;
				text-align: center;
			}
		}
	}
	.link-cart {
		background-color: #95c85a;
		width: 100px;
	}
	.link-checkout {
		background-color: #e85647;
		width: 120px;
	}

	&__user {
		position: relative;
		a {
			position: relative;
			display: flex;
			align-items: center;
		}
		padding-right: 43px;
		&:hover {
			.header__user-list {
				opacity: 1;
				height: auto;
				padding: 7px 30px 12px;
			}
		}

		&-drop {
			position: absolute;
		}
		&-list {
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: all 0.5s;
			width: 158px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			padding: 0px 20px 0px;
			position: relative;
			top: 0px;
			z-index: 7;
			a {
				color: #546e7a;
				font-size: 12px;
				line-height: 36px;
			}
			padding-left: 29px;
			li {
				position: relative;
				&::before {
					content: "\f105";
					position: absolute;
					left: -14px;
					top: 7px;
					font-family: "icomoon";
					color: #8bc34a;
					font-size: 14px;

					// line-height: 36;
				}
			}
		}
	}

	&__user-photo {
		img {
			object-fit: cover;
			object-position: center;
			display: block;
			border-radius: 50%;
			width: 34px;
			height: 34px;
		}
		margin-right: 14px;
	}

	&__user-info {
		font-size: 14px;
		line-height: 24px;
	}

	&__user-name {
		color: #222222;
		font-weight: 500;
	}

	&__user-money {
		color: #8bc34a;
		font-weight: 700;
	}
}

.icon-envelope-o {
	span {
		background-color: #ef6c00;
	}
}
.icon-shopping-cart {
	span {
		background-color: #95c85a;
	}
}

.icon-angle-down {
	&::before {
		position: absolute;
		color: #707070;
		font-size: 16px;
		line-height: 24px;
		top: 0;
		right: -23px;
	}
}

.menu {
	&__list {
		display: flex;
		padding-top: 15px;
		a {
			color: #e3e5e6;
			font-size: 14px;
			font-weight: 500;
			line-height: 30px;
		}
		li + li {
			margin-left: 35px;
		}
	}
}

.header__burger-list {
	display: none;
	position: absolute;
	right: 10px;
	top: 32px;
	z-index: 26;
	width: 30px;
	height: 22px;
	span {
		width: 30px;
		height: 2px;
		background-color: #000;
		display: block;
		position: relative;
		top: 9;
		left: 0;

		&::after,
		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 2px;
			background-color: #000;
			transition: all 0.3s;
		}
		&::before {
			top: 8;
		}
		&::after {
			top: -8;
		}
	}
	cursor: pointer;
}
.header__burger-list.active {
	span {
		background-color: transparent;
		&::before {
			transform: rotate(42deg);
			top: 0px;
		}
		&::after {
			transform: rotate(-42deg);
			top: 0px;
		}
	}
}

.header__burger-body {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -1000px;
	transition: all 0.6s;
}
.header__burger-body.active {
	margin-top: 0;
}

// section search ===========================================================================

.search {
	min-height: 532px;
	text-align: center;
	color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&.page-search {
		min-height: 230px;
		.search__inner {
			padding: 60px 0 70px;
		}
		.search__inner-title {
			color: #ffffff;
			font-size: 20px;
			font-weight: 500;
			line-height: 30px;
		}
	}

	&__inner {
		padding: 155px 0 100px;
	}

	&__inner-title {
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__inner-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 55px;
	}

	&__inner-form {
		position: relative;
		max-width: 670px;
		margin: 0px auto;
		input {
			width: 100%;
			height: 56px;
			border-radius: 4px;
			box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
			border: none;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
				font-size: 14px;
				font-weight: 500;
				line-height: 30px;
				letter-spacing: 0.7px;
			}
		}
		button {
			position: absolute;
			top: 18px;
			right: 20px;
			background-color: transparent;
			border: none;
		}
	}
}

// section products ============================================================================

.products {
	padding: 115px 0;
	background-color: #f4f6f5;

	&__inner-btn {
		color: #263238;
		font-size: 14px;
		font-weight: 500;
		line-height: 60px;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 60px;
		button {
			background-color: #fff;
			border: none;
			padding: 13px 21px;
			cursor: pointer;
			& + button {
				margin-left: 6px;
			}
		}
	}

	.mixitup-control-active {
		box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
		background-color: #e74c3c;
		outline: none;
	}

	&__inner-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 80px;
	}

	&__item {
		max-width: 442px;
		width: 100%;
		box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
		background-color: #ffffff;
		margin-bottom: 30px;
	}

	&__item-img {
		min-height: 250px;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__item-content {
		min-height: 90px;
		display: flex;
		justify-content: space-between;
		padding: 30px 30px 15px;
		border-bottom: 1px solid #e7ecf2;
	}

	&__item-name {
		a {
			display: block;
			font-weight: 500;
		}
	}

	&__item-title {
		font-size: 18px;
		color: #263238;
		margin-bottom: 10px;
	}

	&__item-category {
		color: #8bc34a;
		font-size: 14px;
	}

	&__item-price {
		color: #263238;
		font-size: 20px;
		font-weight: 700;
	}

	&__item-info {
		min-height: 68px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 32px;
	}

	&__item-autor {
		max-width: 270px;
		padding: 15px 5px 15px 0;
		display: flex;
		align-items: center;
		span {
			color: #546e7a;
			font-size: 14px;
			font-weight: 500;
			margin-left: 12px;
		}
	}

	&__item-avatar {
		img {
			display: block;
			width: 30px;
			height: 30px;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__item-star {
		color: #b0bec5;
		font-size: 12px;
		span {
			color: #263238;
		}
		.rate-star {
			display: inline-block;
			margin-right: 13px;
		}
	}

	&__bottom-btn {
		color: #263238;
		font-size: 16px;
		text-align: center;

		button {
			padding: 15px 30px;
			box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
			background-color: #ffffff;
			border: none;
			cursor: pointer;
			margin: 0 5px;
		}
	}
}

.title {
	color: #263238;
	font-size: 36px;
	font-weight: 700;
	line-height: 60px;
	text-align: center;
	margin-bottom: 60px;
}

// section slider ===========================================================================================

.products-slider {
	padding: 110px 0px 120px;
	.slick-dots {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 3px;
			margin-left: 3px;
			&.slick-active {
				button {
					background-color: #8bc34a;
				}
			}
			button {
				width: 16px;
				height: 16px;
				border: none;
				background-color: #e8e8e8;
				border-radius: 50%;
				font-size: 0;
				cursor: pointer;
				outline: none;
			}
		}
	}
}

// section advantages ============================================================================

.advantages {
	background-color: #263238;
	padding: 120px 0;
	&__title {
		color: #ffffff;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__inner-itaem {
		max-width: 370px;
		text-align: center;
		padding: 0 5px;
		&:hover {
			g {
				fill: #fff;
			}
			svg {
				fill: #fff;
			}
			.advantages__inner-img {
				background-color: #8bc34a;
			}
			.advantages__inner-title {
				color: #8bc34a;
			}
		}
	}

	&__inner-img {
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px auto;
		margin-bottom: 33px;
		transition: all 0.4s;
	}

	&__inner-title {
		color: #ffffff;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 26px;
		transition: all 0.4s;
	}

	&__inner-text {
		color: #b0bec5;
		font-size: 15px;
		line-height: 24px;
	}
}

.lock {
	svg {
		width: 50px;
		height: 67px;
	}
}

.present {
	svg {
		width: 71px;
		height: 73px;
	}
}

.heart {
	svg {
		width: 86px;
		height: 86px;
	}
}

// section author ===========================================================

.author {
	min-height: 761px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		max-width: 653px;
		min-height: 216px;
		background-color: #8bc34a;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}

	&__box-title {
		color: #ffffff;
		font-size: 30px;
		line-height: 36px;
		max-width: 260px;
		margin-right: 48px;
		span {
			font-weight: 700;
		}
	}

	&__box-btn {
		color: #263238;
		font-size: 18px;
		font-weight: 400;
		line-height: 36px;
		background-color: #ffffff;
		padding: 14px 43px;
	}
}

// secion tutorials ================================================================================

.tutorials {
	padding: 65px 0px 120px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__inner-item {
		max-width: 370px;
		width: 100%;
		text-align: center;
	}

	&__inner-img {
		min-height: 270px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__inner-title {
		color: #263238;
		font-size: 24px;
		font-weight: 700;
		background-color: #f8f8f8;
		padding: 30px 10px;
	}
}

// footer ==============================================================================

.footer {
	background-color: #263238;
	&__content {
		padding: 100px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		max-width: 270px;
		color: #ffffff;
	}

	&__column-title {
		font-size: 22px;
		font-weight: 700;
		line-height: 24px;
		font-family: "Raleway", sans-serif;
		padding-bottom: 23px;
		margin-bottom: 32px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 2px;
			width: 51px;
			height: 3px;
			background-color: #8bc34a;
		}
	}

	&__column-text {
		color: #b7c3c8;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__column-info {
		color: #ffffff;
		font-size: 14px;
		line-height: 24px;
		font-weight: 500;
		padding-left: 30px;
		position: relative;
		&::before {
			content: "\f041";
			position: absolute;
			left: 0;
			font-family: "icomoon";
			color: #8bc34a;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__column-tel {
		margin-top: 13px;
		&::before {
			content: "\f095";
		}
	}

	&__column-link {
		max-width: 215px;
	}

	&__column-list {
		li {
			padding-left: 23px;
			position: relative;
			&::before {
				content: "\f105";
				position: absolute;
				left: 0;
				font-family: "icomoon";
				color: #8bc34a;
				font-size: 18px;
			}
		}
		a {
			color: #b7c3c8;
			font-size: 15px;
			margin-bottom: 18px;
		}
	}

	&__social-link {
		width: 100%;
	}

	&__form {
		position: relative;

		input {
			height: 40px;
			width: 100%;
			padding: 14px 59px 15px 16px;
			color: #fff;
			background-color: #2f3c43;
			outline: none;
			&::placeholder {
				color: #697378;
				font-size: 14px;
				line-height: 36px;
			}
		}
		button {
			position: absolute;
			width: 43px;
			height: 38px;
			background-color: #8bc34a;
			bottom: 0;
			right: 0;
			border: none;
			cursor: pointer;
			&::after {
				content: "\f124";
				font-family: "icomoon";
				position: absolute;
				top: 0px;
				left: 13px;
				color: #ffffff;
				font-size: 20px;
				line-height: 36px;
			}
		}
	}

	&__form-text {
		color: #ffffff;
		font-size: 20px;
		line-height: 36px;
		margin-bottom: 10px;
	}

	&__bottom {
		border-top: 1px solid #424d53;
	}

	&__bottom-text {
		text-align: center;
		color: #919699;
		font-size: 15px;
		line-height: 36px;
	}
}

.footer__column-social-img {
	margin-bottom: 22px;
	li {
		display: inline-block;
		max-width: 28px;

		& + li {
			margin-left: 7px;
		}
	}
}

// PAGE ==================================================================================

.breadcrams {
	padding: 49px 0px 40px;
	background-color: #f4f6f5;
	&__list {
		display: flex;
		align-items: center;
		li + li {
			padding-left: 22px;
			position: relative;
			&::before {
				content: "-";
				position: absolute;
				left: 10px;
				color: #8bc34a;
			}
		}
		a {
			color: #b0bec5;
		}
		li:last-child {
			a,
			span {
				color: #263238;
			}
		}
	}
}

// section product-page =============================================================================

.product-page {
	background-color: #f4f6f5;
	&__inner {
		display: flex;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__content {
		width: 100%;

		.products__item {
			max-width: 269px;
			transition: all 0.5s;
		}
		.products__item-img {
			min-height: 180px;
		}
		.products__item-content {
			padding: 25px 20px;
		}
		.products__item-title {
			font-size: 16px;
		}
		.products__item-info {
			margin: 0;
			padding: 0px 20px;
		}
		.products__item-star .rate-star {
			margin-right: 0px;
		}
		.products__item-autor span {
			margin-left: 8px;
		}
		.products__item-price {
			span {
				display: none;
			}
		}
		.products__item-name {
			span {
				display: none;
			}
		}
		.icon-comment-o,
		.icon-heart-o {
			display: none;
		}
	}

	.product-page__content .products__item.list {
		max-width: 100%;
		.products__item-img {
			max-width: 240px;
			float: left;
			min-height: 100%;
		}
		.products__item-content {
			padding: 25px 30px;
		}
		.products__item-price {
			font-size: 30px;
			span {
				color: #aeb4bb;
				font-size: 13px;
				display: block;
				margin-top: 23px;
				font-weight: 400;
			}
		}
		.products__item-title {
			margin-bottom: 8px;
		}
		.products__item-name {
			max-width: 480px;
			span {
				color: #70838d;
				font-size: 14px;
				line-height: 18px;
				margin-top: 12px;
				display: block;
			}
		}
		.icon-comment-o,
		.icon-heart-o {
			font-size: 12px;
			color: #b0bec5;
			font-weight: 400;
			display: inline-block;
			padding-left: 17px;
			border-left: 1px solid #aeb4bb;
			span {
				color: #263238;
				font-weight: 500;
			}
			&::before {
				font-size: 15px;
				color: #8bc34a;
				padding-right: 15px;
			}
		}
		.icon-comment-o {
			padding-right: 30px;
		}
		.products__item-info {
			padding: 0px 25px;
		}
		.products__item-star {
			margin-left: auto;
			margin-right: 30px;
		}
	}

	&__filter {
		width: 100%;
		height: 60px;
		border: 1px solid #d7d7d7;
		background-color: #ffffff;
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 25px;
		color: #707070;
		font-size: 14px;
		line-height: 24px;
		button {
			background-color: transparent;
			border: none;
			font-size: 16px;
			color: #90a4ae;
			cursor: pointer;
			outline: none;
		}
		.icon-sort-amount-desc {
			font-size: 14px;
			color: #455a64;
			margin-right: 6px;
		}
		.icon-sort {
			color: #707070;
			font-size: 18px;
			margin-left: 6px;
		}
		.active {
			color: #8bc34a;
		}
		.icon-th-list {
			margin-right: 0;
		}
	}

	&__sort {
		display: flex;
	}
}

.aside {
	max-width: 270px;
	margin-right: 30px;

	&__title {
		color: #263238;
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 19px;
		border-bottom: 1px solid #dde3e8;
		margin-bottom: 28px;
	}

	&__categories-list {
		li {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
			position: relative;
			padding-left: 23px;
			&::before {
				content: "\f105";
				position: absolute;
				left: 0;
				font-family: "icomoon";
				color: #8bc34a;
				font-size: 14px;
			}
		}
		span {
			color: #90a4ae;
		}
		a {
			color: #263238;
		}
	}

	&__range-form {
		text-align: center;
		button {
			background-color: #8bc34a;
			border: none;
			padding: 18px 10px;
			width: 100%;
			color: #ffffff;
			font-weight: 500;
			padding-left: 20px;
			cursor: pointer;
		}
		form {
			margin: 0;
		}
	}

	.products__item.products__aside {
		box-shadow: none;
		border-bottom: 1px solid #dde3e8;
		padding-bottom: 20px;
		.products__item-img {
			min-height: 121px;
		}
		.products__item-title {
			font-size: 16px;
			font-weight: 700;
		}
		.products__item-content {
			padding: 20px 0px 0px;
			border: none;
			min-height: 0;
		}
		.products__item-price {
			font-size: 16px;
			font-weight: 700;
		}
		.products__item-info {
			margin: 0px;
		}
		.aside-span {
			display: none;
		}
		.products__item-autor {
			margin-right: 40px;
		}
		.products__item-star .rate-star {
			margin-right: 0;
		}
	}
}

.aside__top-sellers-link {
	text-align: center;
	a {
		padding: 18px 10px;
		background-color: #8bc34a;
		color: #fff;
		width: 100%;
	}
}
.products__aside-body {
	.products__item.products__aside:last-child {
		border: none;
		padding-bottom: 0;
	}
}

.aside-box {
	border: 1px solid #d7d7d7;
	background-color: #ffffff;
	width: 100%;
	padding: 26px 30px 30px;
	margin-bottom: 30px;
}

.irs--flat .irs-bar {
	height: 5px;
	background-color: #37474f;
}

.irs--flat .irs-line {
	height: 5px;
	background-color: #f2f5f8;
}

.irs-with-grid .irs-grid {
	display: none;
}

.irs--flat .irs-max,
.irs--flat .irs-min {
	display: none;
}

.irs--flat .irs-handle > i:first-child {
	position: absolute;
	display: block;
	top: -2;
	width: 16px;
	height: 16px;
	border: 3px solid #8bc34a;
	background-color: #ffffff;
	border-radius: 50%;
	&:hover {
		background-color: #fff;
	}
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	color: #fff;
	font-size: 15px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background-color: transparent;
	border-radius: 4px;
	color: #78909c;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
	display: none;
}

.irs-from,
.irs-single,
.irs-to {
	top: 45px;
}

.irs--flat.irs-with-grid {
	margin-bottom: 25px;
}

.pagination__list {
	display: flex;
	margin-top: 40px;
	margin-bottom: 100px;
	li + li {
		margin-left: 8px;
	}
	a,
	span {
		width: 43px;
		height: 38px;
		box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.active {
		background-color: #e74c3c;
		color: #fff;
	}
}

// section details ===========================================================

.details {
	background-color: #f4f6f5;
	padding-bottom: 120px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		max-width: 870px;
	}

	&__images {
		width: 100%;
		height: 458px;
		border: 1px solid #d7d7d7;
		background-color: #ffffff;
		padding: 20px;
		margin-bottom: 40px;
	}

	&__img {
		max-width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}

	&__title {
		color: #263238;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		margin-bottom: 26px;
	}

	&__text {
		color: #707070;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 45px;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		margin-bottom: 55px;
	}

	&__links-button {
		a {
			padding: 16px 25px;
			color: #f4f6f5;
			font-size: 16px;
			font-weight: 500;
		}
		a + a {
			margin-left: 18px;
		}
	}

	&__links-live {
		background-color: #e74c3c;
	}

	&__links-screenshots {
		background-color: #455a64;
	}

	&__links-documentation {
		background-color: #8bc34a;
	}

	&__links-sicial {
		a {
			width: 54px;
			height: 50px;
			position: relative;
			&::before {
				position: absolute;
				color: #ffffff;
				font-size: 18px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			& + a {
				margin-left: 3px;
			}
		}
	}

	.icon-facebook {
		background-color: #6370b6;
	}
	.icon-twitter {
		background-color: #64b5f6;
	}
	.icon-linkedin {
		background-color: #4f71ce;
	}
	.icon-pinterest-p {
		background-color: #d32f2f;
	}

	.details__tabs {
		background-color: #fff;
		margin-bottom: 50px;
		.tabs {
			display: flex;
			justify-content: space-between;
			border: 1px solid #d7d7d7;
			border-bottom: none;
			cursor: pointer;
			.tab {
				width: 100%;
				text-align: center;
				padding: 21px 10px;
				& + .tab {
					border-left: 1px solid #d7d7d7;
				}
				&.active {
					border-bottom: 3px solid #8bc34a;
				}
			}
		}
		.tab_content {
			border: 1px solid #d7d7d7;
			padding: 35px 35px 60px;
			.tab-items__list {
				column-count: 2;

				li + li {
					margin-top: 24px;
				}
			}
			.tab-item + .tab-item {
				display: none;
			}
		}
	}

	&__products {
	}

	&__products-title {
		color: #263238;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		padding: 17px 28px;
		background-color: #fff;
		border: 1px solid #d7d7d7;
		margin-bottom: 28px;
	}

	&__products-inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__products-item {
		max-width: 270px;
		width: 100%;
		box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
		background-color: #ffffff;
		display: flex;
		margin-bottom: 25px;
	}

	&__products-img {
		max-width: 100px;
		width: 100%;
		min-height: 90px;
	}

	&__products-info {
		padding: 20px 20px 10px;
	}

	&__products-name {
		color: #263238;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 11px;
	}

	&__products-topic {
		color: #8bc34a;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 9px;
	}

	&__products-price {
		color: #263238;
		font-size: 18px;
		font-weight: 700;
	}
}

.details {
	&__aside {
		max-width: 270px;
	}

	.details__aside-box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__aside-price {
		span {
			color: #e74c3c;
			font-size: 22px;
			font-weight: 500;
			padding-right: 60px;
		}
		button {
			padding: 14px 5px;
			border: none;
			cursor: pointer;
			width: 100%;
			box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
			background-color: #546e7a;
			margin-bottom: 8px;
			color: #ffffff;
			font-size: 16px;
			font-weight: 500;
			position: relative;
			&::before {
				color: #ffffff;
				font-size: 16px;
				font-family: "icomoon";
				padding-right: 8px;
				font-weight: 400;
			}
		}
	}

	.button-cart {
		background-color: #8bc34a;
		&::before {
			content: "\f07a";
			color: #ffffff;
			font-size: 16px;
		}
	}
	.button-favourit {
		background-color: #42a5f5;
		&::before {
			content: "\f08a";
			color: #ffffff;
			font-size: 16px;
		}
	}

	&__author-box {
		display: flex;
		margin-bottom: 30px;
	}

	&__author-img {
		width: 73px;
		height: 63px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-right: 14px;
	}

	&__author-info {
		a {
			color: #707070;
			font-size: 13px;
			border: 1px solid #d7d7d7;
			padding: 6px 10px;
		}
	}

	&__author-name {
		color: #263238;
		margin-bottom: 14px;
		font-size: 18px;
	}

	&__author-awards {
		img + img {
			margin-left: 4px;
		}
	}

	&__aside-cart {
		color: #707070;
		font-size: 16px;
		font-weight: 300;
		span {
			color: #263238;
			font-size: 20px;
			font-weight: 700;
			margin-right: 14px;
			position: relative;
			padding-left: 40px;
			&::before {
				content: "\f07a";
				position: absolute;
				color: #ffffff;
				font-size: 16px;
				font-family: "icomoon";
				color: #a6b5bb;
				font-size: 20px;
				font-weight: 400;
				left: 0;
			}
		}
	}

	&__information {
		span {
			color: #263238;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 500;
			line-height: 32px;
		}
		color: #70838d;
		font-weight: 400;
	}
}

//hidden popap ===============================================================================

#hidden-content {
	max-width: 729px;
	width: 100%;
	background-color: #8bc34a;
	padding: 90px 10px 100px;
}

.hidden {
	&__title {
		text-align: center;
		color: #ffffff;
		font-size: 48px;
		font-weight: 700;
		line-height: 36px;
		text-transform: uppercase;
		margin-bottom: 42px;
	}
	form {
		max-width: 400px;
		margin: 0px auto;
	}
	label {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			font-family: "icomoon";
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			line-height: 36px;
			left: 18px;
			top: -10px;
		}
	}
	.hidden__name {
		&::before {
			content: "\f007";
		}
	}
	.hidden__pass {
		&::before {
			content: "\f023";
		}
	}
	input {
		width: 100%;
		height: 43px;
		background-color: #76ae36;
		margin-bottom: 8px;
		padding: 0 20px;
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		line-height: 36px;
		border: none;
		outline: none;
		padding-left: 40px;
		&::placeholder {
			color: #ffffff;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 36px;
		}
	}

	button {
		color: #000000;
		font-size: 14px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		box-shadow: 0 2px 2px rgba(118, 174, 54, 0.75);
		border: none;
		max-width: 139px;
		width: 100%;
		padding: 9px 0;
		margin-right: 10px;
		margin-top: 20px;
		cursor: pointer;
	}
	a {
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
	}
	&__link-lost {
		margin-top: 25px;
	}

	&__link-creat {
		background-color: #76ae36;
		max-width: 245px;
		width: 100%;
		padding: 15px 0;
		text-align: center;
	}
}

// section 404 ================================================================================

.page {
	&__404 {
		background-color: #f4f6f5;
	}

	&__404-content {
		max-width: 1170px;
		border: 1px solid #d7d7d7;
		background-color: #ffffff;
	}

	&__404-top {
		color: #444444;
		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
		padding: 25px;
	}

	&__404-inner {
		background-color: #8bc34a;
		text-align: center;
		color: #fff;
		padding: 100px 0;
	}

	&__404-404 {
		font-family: "Open Sans", sans-serif;
		font-weight: 800;
		font-size: 300px;
		font-weight: 400;
		line-height: 300px;
		text-transform: uppercase;
		margin-bottom: 60px;
		position: relative;
		padding-right: 50px;
		&::after {
			content: "";
			position: absolute;
			background-image: url(../images/404.png);
			width: 150px;
			height: 292px;
		}
	}

	&__404-title {
		font-size: 30px;
		line-height: 24px;
		letter-spacing: 6px;
		margin-bottom: 33px;
	}

	&__404-text {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		max-width: 530px;
		margin: 0px auto;
		margin-bottom: 60px;
	}

	&__404-link {
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		padding: 22px 32px;
		border: 2px solid #ffffff;
		border-radius: 5px;
	}
}

// section about =========================================================================

.about {
	background-color: #f4f6f5;
	padding-bottom: 140px;
	&__content {
		max-width: 1170px;
		border: 1px solid #d7d7d7;
		background-color: #ffffff;
	}

	&__top {
		color: #444444;
		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
		padding: 25px;
		border-bottom: 1px solid#d7d7d7;
	}

	&__inner {
		padding: 10px 60px 50px 25px;
		h3 {
			color: #444444;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			margin: 40px 0 23px;
		}
		p {
			color: #707070;
			line-height: 24px;
		}
	}
}

@import "media";
